In [2]:
import os
import os.path as op
import json
import cv2
import base64
import numpy as np
from tqdm import tqdm

import numpy as np
import matplotlib.pyplot as plt

from PIL import Image, ImageDraw
import pandas as pd

In [3]:
cap_source = '../../../results'

df = pd.read_csv(op.join(cap_source, 'ann_1000.txt'), sep="|", header=None)
df.columns = ['image_id', 'caption']
df.tail(10)

     image_id                                            caption
988   989.jpg                                               A TV
989   990.jpg                         A monkey and other monkeys
990   991.jpg  A blue and white bus is stopping at the side o...
991   992.jpg                 A sitting baby only wears a diaper
992  993.jpeg                          Blue sky and white clouds
993   994.jpg  A group of people were partying in the smoke a...
994   995.jpg                         Red and Black Virtual Bull
995   996.jpg      A green and white bus is running on the road.
996   997.png                                 The aircraft cabin
997   998.jpg  There are many different brands of beer on the...

In [7]:
ann_json = df.to_json(orient='records')
ann_json = json.loads(ann_json)
print(type(ann_json))

ann_json = [{'image_id': ann['image_id'].split('.')[0], 'caption': ann['caption']} for ann in ann_json]
ann_json[:10]

<class 'list'>

[{'image_id': '1', 'caption': 'Two pieces of raw beef'},
 {'image_id': '2', 'caption': 'Blue sea, sandy beach and high rock'},
 {'image_id': '3', 'caption': 'An orange mouse'},
 {'image_id': '4',
  'caption': 'A group of people are playing in the basketball hall'},
 {'image_id': '5', 'caption': 'Blue sky and white clouds'},
 {'image_id': '6', 'caption': 'A group of people are having a happy party.'},
 {'image_id': '7', 'caption': 'Three black bears'},
 {'image_id': '8', 'caption': '4 ceramic jars and a glass jar'},
 {'image_id': '9', 'caption': 'A mountain bike'},
 {'image_id': '10',
  'caption': 'A black woman wearing a yellow vest and a clutch bag'}]

In [8]:
with open(op.join(cap_source, 'ann_1000.json'), 'w') as f:
    json.dump(ann_json, f)
    #f.write(json.dumps(ann_json))